/* index.css o App.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000; /* o cualquier fondo que quieras */
  font-family: 'Inter', sans-serif;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}
