@import "tailwindcss";


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000; 
  font-family: 'Inter', sans-serif;
  overflow: hidden; 
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}
